@import "./global.css";


/* HEADER */
.header {
    width: 100%;

    position: absolute;
    top: 100px;
    left: 0;
    z-index: 2;
}

.header__nav {
    display: flex;
    align-items: center;
    gap: 50px;
}

.header__link {
    font-family: var(--font-inter);
    font-weight: var(--font-regular);

    font-size: 32px;
    line-height: 1.4em;

    color: var(--color-grey);

    transition: color .3s ease;
}

.header__link:hover {
    color: var(--color-turquoise);
}

@media (max-width: 1499px) {
    .header {
        top: 60px;
    }

    .header__link {
        font-size: 24px;
    }
}

@media (max-width: 1199px) {
    .header {
        top: 50px;
    }
}

@media (max-width: 767px) {
    .header {
        top: 30px;
    }

    .header__nav {
        gap: 28px;
    }

    .header__link {
        font-size: 16px;
    }
}


/* INTRO */
.intro {
    padding: 100px 0;

    height: 100vh;
    min-height: 1000px;

    position: relative;

    background: url('../assets/img/intro/background.png') no-repeat center bottom / cover;
}

.intro__container {
    height: 100%;

    display: flex;
    align-items: flex-end;
}

.intro__offer {
    display: flex;
    flex-direction: column;
}

.intro__text {
    max-width: 640px;

    font-family: var(--font-inter);
    font-weight: var(--font-regular);

    font-size: 28px;
    line-height: 1.4em;

    color: var(--color-grey);
}

.intro__title {
    margin-top: 100px;

    font-family: var(--font-benzin);
    font-weight: var(--font-medium);

    font-size: 150px;
    line-height: 1em;

    color: var(--color-white);
}

.intro__title span {
    color: var(--color-turquoise);
}

.intro__img {
    width: 600px;
    height: 600px;

    position: absolute;
    top: 0;
    right: 0;
}

@media (max-width: 1499px) {
    .intro {
        padding: 60px 0;

        min-height: 780px;
    }

    .intro__text {
        max-width: 540px;

        font-size: 24px;
    }

    .intro__title {
        margin-top: 60px;

        max-width: 1100px;

        font-size: 120px;
    }

    .intro__img {
        width: 450px;
        height: 450px;
    }
}

@media (max-width: 1199px) {
    .intro {
        padding: 150px 0 100px;

        min-height: 720px;
    }

    .intro__offer {
        height: 100%;

        justify-content: space-between;
    }

    .intro__text {
        max-width: 420px;

        font-size: 24px;
    }

    .intro__title {
        margin-top: 50px;

        max-width: 700px;

        font-size: 80px;
    }

    .intro__img {
        width: 250px;
        height: 250px;
    }
}

@media (max-width: 767px) {
    .intro {
        padding: 100px 0 50px;

        min-height: 500px;
    }

    .intro__offer {
        flex-direction: column-reverse;
        justify-content: center;
        gap: 20px;
    }

    .intro__text {
        max-width: 340px;

        font-size: 16px;
    }

    .intro__title {
        margin-top: 0;

        font-size: 40px;
    }

    .intro__img {
        width: 80px;
        height: 80px;
    }
}


/* ROADMAP */
.roadmap {
    margin-top: 200px;
}

.roadmap__title {
    font-family: var(--font-benzin);
    font-weight: var(--font-medium);

    font-size: 96px;
    line-height: 1em;

    color: var(--color-white);
}

.roadmap__title span {
    color: var(--color-turquoise);
}

.roadmap__body {
    margin-top: 50px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.roadmap__step {
    padding: 40px;

    position: relative;

    border-radius: 20px;
    border: 2px solid var(--color-turquoise-15);
}

.roadmap__step:nth-child(even)::before {
    content: '';

    margin: auto 0;

    width: 80px;
    height: 80px;

    position: absolute;
    top: 0;
    left: -50px;
    bottom: 0;
    z-index: 2;

    border-radius: 50%;
    background: url("../assets/img/roadmap/arrow.svg") no-repeat center / 36px, var(--color-turquoise-15);
    backdrop-filter: blur(15px);
}

.roadmap__step:nth-child(2),
.roadmap__step:nth-child(3),
.roadmap__step:nth-child(6) {
    border: 0;
    background: var(--color-turquoise-15);
    box-shadow: 0 0 60px var(--color-turquoise-15);
}

.roadmap__step:last-child {
    grid-column-start: 1;
    grid-column-end: 3;
}

.roadmap-step__title {
    font-family: var(--font-benzin);
    font-weight: var(--font-medium);

    font-size: 40px;
    line-height: 1em;

    color: var(--color-white);
}

.roadmap-step__list {
    margin: 20px 0 0;
    padding: 0;

    list-style: none;
}

.roadmap-step__item {
    font-family: var(--font-inter);
    font-weight: var(--font-regular);

    font-size: 24px;
    line-height: 1.4em;

    color: var(--color-grey);
}

.roadmap-step__item::before {
    content: '- ';
}

@media (max-width: 1499px) {
    .roadmap {
        margin-top: 150px;
    }

    .roadmap__title {
        font-size: 72px;
    }

    .roadmap__step:nth-child(even)::before {
        width: 60px;
        height: 60px;

        left: -40px;

        background: url("../assets/img/roadmap/arrow.svg") no-repeat center / 32px, var(--color-turquoise-15);
    }

    .roadmap-step__title {
        font-size: 36px;
    }

    .roadmap-step__item {
        font-size: 20px;
    }
}

@media (max-width: 1199px) {
    .roadmap {
        margin-top: 100px;
    }

    .roadmap__title {
        font-size: 48px;
    }

    .roadmap__body {
        margin-top: 20px;

        gap: 10px;
    }

    .roadmap__step {
        padding: 20px;
    }

    .roadmap__step:nth-child(even)::before {
        width: 50px;
        height: 50px;

        left: -30px;

        background: url("../assets/img/roadmap/arrow.svg") no-repeat center / 24px, var(--color-turquoise-15);
    }

    .roadmap-step__title {
        font-size: 24px;
    }

    .roadmap-step__item {
        font-size: 16px;
    }
}

@media (max-width: 767px) {
    .roadmap {
        margin-top: 50px;
    }

    .roadmap__title {
        font-size: 32px;
    }

    .roadmap__body {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .roadmap__step::before,
    .roadmap__step:nth-child(even)::before {
        content: '';

        margin: 0 auto;

        width: 50px;
        height: 50px;

        display: block;

        position: absolute;
        top: auto;
        left: 0;
        bottom: -35px;
        right: 0;
        z-index: 2;

        border-radius: 50%;
        background: url("../assets/img/roadmap/arrow.svg") no-repeat center / 24px, var(--color-turquoise-15);
        backdrop-filter: blur(15px);
    }

    .roadmap__step:last-child::before {
        display: none;
    }

    .roadmap__step:nth-child(2),
    .roadmap__step:nth-child(3),
    .roadmap__step:nth-child(6) {
        border: 2px solid var(--color-turquoise-15);
        background: transparent;
        box-shadow: none;
    }

    .roadmap__step:last-child {
        grid-column-start: 1;
        grid-column-end: 2;
    }
}


/* TOKENS */
.tokens {
    margin-top: 200px;
}

.tokens__title {
    font-family: var(--font-benzin);
    font-weight: var(--font-medium);

    font-size: 96px;
    line-height: 1em;

    color: var(--color-white);
}

.tokens__title span {
    color: var(--color-turquoise);
}

.tokens__body {
    margin-top: 50px;

    display: flex;
    align-items: center;
    gap: 20px;
}

.tokens__item {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.tokens-item__img {
    width: 100%;
    height: auto;

    border-radius: 20px;
}

.tokens-item__content {
    margin-top: -100px;

    width: 100%;
    height: 150px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    border-radius: 75px;
    background: var(--color-black-75);
    backdrop-filter: blur(40px);
    box-shadow: 0 -5px 50px var(--color-black-75);
}

.tokens-item__title {
    font-family: var(--font-benzin);
    font-weight: var(--font-medium);

    font-size: 48px;
    line-height: 1em;

    color: var(--color-white);
}

.tokens-item__info {
    font-family: var(--font-benzin);
    font-weight: var(--font-medium);

    font-size: 36px;
    line-height: 1em;
    text-transform: uppercase;

    color: var(--color-turquoise);
}

@media (max-width: 1499px) {
    .tokens {
        margin-top: 150px;
    }

    .tokens__title {
        font-size: 72px;
    }

    .tokens-item__content {
        margin-top: -80px;

        height: 120px;
    }

    .tokens-item__title {
        font-size: 40px;
    }

    .tokens-item__info {
        font-size: 24px;
    }
}

@media (max-width: 1199px) {
    .tokens {
        margin-top: 100px;
    }

    .tokens__title {
        font-size: 48px;
    }

    .tokens__body {
        margin-top: 20px;

        gap: 10px;
    }

    .tokens-item__content {
        margin-top: -60px;

        height: 80px;

        gap: 5px;
    }

    .tokens-item__title {
        font-size: 24px;
    }

    .tokens-item__info {
        font-size: 16px;
    }
}

@media (max-width: 767px) {
    .tokens {
        margin-top: 100px;
    }

    .tokens__title {
        font-size: 32px;
    }

    .tokens__body {
        margin-top: 20px;

        flex-direction: column;
        gap: 10px;
    }
}


/* CALENDAR */
.calendar {
    margin-top: 200px;
}

.calendar__title {
    font-family: var(--font-benzin);
    font-weight: var(--font-medium);

    font-size: 96px;
    line-height: 1em;

    color: var(--color-white);
}

.calendar__info {
    margin-top: 50px;

    font-family: var(--font-benzin);
    font-weight: var(--font-medium);

    font-size: 48px;
    line-height: 1em;
    text-transform: uppercase;

    color: var(--color-turquoise);
}

@media (max-width: 1499px) {
    .calendar {
        margin-top: 150px;
    }

    .calendar__title {
        font-size: 72px;
    }

    .calendar__info {
        font-size: 36px;
    }
}

@media (max-width: 1199px) {
    .calendar {
        margin-top: 100px;
    }

    .calendar__title {
        font-size: 48px;
    }

    .calendar__info {
        margin-top: 20px;

        font-size: 24px;
    }
}

@media (max-width: 767px) {
    .calendar__title {
        font-size: 32px;
    }

    .calendar__info {
        font-size: 20px;
    }
}


/* CONTACTS */
.contacts {
    margin-top: 200px;
    padding-bottom: 100px;
}

.contacts__title {
    font-family: var(--font-benzin);
    font-weight: var(--font-medium);

    font-size: 96px;
    line-height: 1em;

    color: var(--color-white);
}

.contacts__body {
    margin-top: 50px;

    display: flex;
    gap: 20px;
}

.contacts__link {
    width: 100%;

    display: flex;
    align-items: center;
    gap: 20px;

    border-radius: 20px;
    border: 2px solid var(--color-turquoise-15);
}

.contacts-link__icon {
    margin: -2px 0 -2px -2px;

    width: 90px;
    height: 90px;
}

.contacts-link__text {
    font-family: var(--font-inter);
    font-weight: var(--font-medium);

    font-size: 36px;
    line-height: 1.4em;

    color: var(--color-white);
}

@media (max-width: 1499px) {
    .contacts {
        margin-top: 150px;
        padding-bottom: 75px;
    }

    .contacts__title {
        font-size: 72px;
    }

    .contacts-link__icon {
        width: 80px;
        height: 80px;
    }

    .contacts-link__text {
        font-size: 32px;
    }
}

@media (max-width: 1199px) {
    .contacts {
        margin-top: 100px;
        padding-bottom: 50px;
    }

    .contacts__title {
        font-size: 48px;
    }

    .contacts__body {
        margin-top: 20px;

        gap: 10px;
    }

    .contacts__link {
        gap: 10px;

        border-radius: 10px;
        border: 2px solid var(--color-turquoise-15);
    }

    .contacts-link__icon {
        margin: -2px 0 -2px -2px;

        width: 50px;
        height: 50px;
    }

    .contacts-link__text {
        font-size: 20px;
    }
}

@media (max-width: 767px) {
    .contacts__title {
        font-size: 32px;
    }

    .contacts__body {
        flex-direction: column;
    }

    .contacts-link__icon {
        width: 60px;
        height: 60px;
    }
}